<!DOCTYPE html>
<html lang="ja">
   <head>
      <meta charset="utf-8">
      <title>COMET CDC Wire Stringing</title>
   </head>
   <body>
      <div>
      <%= @err_msg %>
      </div>
      <a href="https://comet-cdc.herokuapp.com">home</a>
   </body>
</html>

